.container {
    height: 100%;
    overflow: hidden;
}

.container section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../../assets/cinzaBackground.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

.container>img:nth-child(1) {
    position: absolute;
    left: 3rem;
    top: 3rem;
}

.container>img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: -20rem;
    height: 55%;
}

.logo {
    display: block;
    height: 4rem;
}

.loginArea {
    height: 55%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    padding-top: 5rem;
    gap: 2rem;
    z-index: 1;
}

.inputBar {
    display: flex;
    justify-content: center;
    border: #D9D9D9 solid 2px;
    border-radius: 1rem;
    padding: 1rem 4rem;
}

.email {
    background-image: url(../../assets/mail.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    background-size: 1.8rem;
}

.senha {
    background-image: url(../../assets/lock.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    background-size: 1.5rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}

.titulo {
    display: flex;
    padding: 0em;
    justify-content: center;
}



.login {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid #D9D9D9;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
}

.registro {
    white-space: nowrap;
    text-align: center;
}