html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

header {
    padding: 2rem 4rem;
    border-bottom: #E9E9E9 0.2rem solid;
}

header img {
    height: 3rem;
}

.container > img {
    position: absolute;
    bottom: 0;
    left: -8rem;
    height: 50%;
}

#logo {
    display: block;
    height: 4rem;
}

#loginArea {
    max-width: 50%;
    z-index: 1000;
    padding: 0rem 4.4rem 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
    
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.20);
    border-radius: 1.5rem;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#titulo p, #titulo h1 {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

#passwordBar {
    background-image: url(../../assets/lock.svg);
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-position-y: 50%;
}

#emailBar  {
    background-image: url(../../assets/mail.svg);
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-position-y: 50%;
}

.login {
    margin: 2rem 0;
    width: 100%;
    display: flex;

    justify-content: center;
    border: 3px solid #D9D9D9;
    border-radius: 1rem;
    padding:1rem 0.5rem;
}

.loginItem, .loginItem:hover, .loginItem:focus {
    padding: .8rem 5.7rem;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

#button {
    display: flex;
    justify-content: center;
}

#loginForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 7rem;
    padding: 2.5rem;
    width: 40%;
    color: white;
    height: 3.5rem;
    background: #820a31;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #A4002E;
    color: white;
    transition: 300ms;
}

#esqueci {
    display: flex;
    justify-content: right;
    padding: 1rem 0;
    color: gray;
    font-size: 1.2rem;
}

#registro p {
    color: var(--gray);
}

#registro a {
    color: var(--blue-gray);
}