.button {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto rem;
    padding: auto auto;
    width: 16rem;
    color: #A4002E;
    height: 4rem;
    background: white;
    border: solid 2px #A4002E;
    border-radius: 0.7rem;
    cursor: pointer;
}

.button:hover {
    background-color: #A4002E;
    color: white;
    transition: 300ms;
}