* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%; /* a partir de agora, cada 1 REM = 10px */
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}