* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --no-hover: #820A31;
    --blue-gray: #3E6E85;
    --gray: #D9D9D9;
    --hover: #A4002E;
    --dark-gray: #666666;
    --white: #FFFFFF;
    --light-gray: #E9E9E9;
}

html {
    font-size: 62, 5%;
    /* a partir de agora, cada 1 REM = 10px */
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.regular18 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}


