.container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 9rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.articleMain {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.areaTitle {
    padding: 1.5rem 0.5rem;
    display: flex;
    align-items: center;
}

.areaCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
}