html {
    font-size: 62.5%;
}

#logo {
    display: block;
    height: 4rem;
}

header {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #E9E9E9 0.2rem solid;
}

#searchbox {
    width: 45%;
    height: 4rem;
    background-color: #E9E9E9;
    border-radius: 1rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}

#searchbox input, #searchbox input:hover, #searchbox input:focus {
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

#userArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
}

#userArea img {
    width: 2.8rem;
}

#userArea div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#userArea p {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #E9E9E9;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: absolute;
    bottom: 0;
}

footer span {
    display: flex;
    justify-content: center;
}

footer img {
    height: 2.5rem;
}

footer ul li{
    display: flex;
    justify-content: right;
}