.section {
    display: flex;
    justify-content: center;
    height: calc(100vh - 19.2rem);
}

.section > div {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 1200px;
}

#areaForm textarea, input {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.inputNumber {
    width: 6rem;
}