

.button {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 1rem;
    padding: 2.5rem;
    width: auto;
    color: white;
    height: 3.5rem;
    background: #820a31;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
}

.button:hover {
    background-color: #A4002E;
    color: white;
    transition: 300ms;
}