.Card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.20);
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-top: transparent solid 0.4rem;
    transition:175ms
}

.Card:hover {
    border-top: #A4002E solid 0.4rem;
}

.Card button {
    background-color: transparent;
    outline: #A4002E solid 0.15rem;
    color: #A4002E;
    border: none;
    width: 95%;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Card button:hover {
    background-color: #A4002E;
    color: white;
    transition: 175ms;
}

.Card p {
    text-align: center;
}

.Card img:nth-of-type(1) {
    width:80%;
    border-radius: 0.6rem;
}

.Card div img {
    width: 70px;
}

.Card div {
    display: flex;
    justify-content: center;
}
