.container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 9rem;
}

.section {
    display: flex;
    justify-content: center;
    height: calc(100vh - 19.2rem);
}

.section > div {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 1200px;
} 

.section > div > div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.section > div > div > div:nth-child(4) {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.inputNumber {
    width: 6rem;
}