.header {
    padding: 3rem 4rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #E9E9E9 0.2rem solid;
    gap: 5rem;
}

.atalho {
    display: flex;
    justify-content: space-between;
    gap: 25%;
}

.logo {
    display: block;
    height: 4rem;
    padding-bottom: 0.8rem;
}

.searchbox {
    margin-left: 10%;
    width: 45%;
    height: 4rem;
    background-color: #E9E9E9;
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.searchbox input, .searchbox input:hover, .searchbox input:focus {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding-top: 1rem;
}

.userArea {
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.userArea img {
    width: 2.8rem;
}

.userArea div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userArea p {
    display: flex;
    flex-direction: column;
}