.section {
    display: flex;
    justify-content: center;
    height: calc(100vh - 19.2rem);
    align-items: center;
    gap: 2rem;
}

.section > div {
    padding: 7rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.areaForm textarea, .areaForm input {
    display: flex;
    justify-content: center;
    outline: #D9D9D9 solid 2px;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: 200ms;
    width: 100%;
}

.areaForm textarea:focus, .areaForm input:focus {
    outline: #9A9A9A solid 2px;
    transition: 200ms;
}

.areaForm div {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.areaForm div div {
    display: flex;
    flex-direction: column;
}

a {
    display: block;
    text-align: center;
}